<!DOCTYPE html>
<html>
	<html>
		<head>
			<title>1010data Documentation Center</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
				<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    			<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    			
				<!-- Bootstrap core CSS -->
        <!--
		    <script src="js/polymer/app/bower_components/webcomponentsjs/webcomponents.js"></script>
		    <link rel="import" href="js/polymer/app/bower_components/polymer/polymer.html">-->
				<script src="js/webcomponents.js"></script>
				<script src="js/polymer.js"></script>
				<link href="1010data-DC-BS.css" rel="stylesheet" media="screen">
					<script src="js/globals.js"></script>
					<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
					<!--[if lt IE 9]>
					<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
					<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
					<![endif]-->
				</head>
				<body>
          <div class="navbar navbar-inverse navbar-fixed-top" role="">
						<div class="container">
							<div class="navbar-title">
								<div class="search-box">
									<input id="search" type="text" class="form-control" placeholder="Search...">
										<a id="go" href="resultsPage.html" style="display: none;" click="javascript:void(0)"></a>
									</div>
									<p class="1010logo">
										<img src="1010data2020Logo.png" style="margin-top: .7em;display: inline;float: left;"/>
										<p style="color: white;display: inline-block;padding-left: .2em;font-size: 24pt;">
											<p style="display: inline;padding-top: 10px;">
												<p style="display: inline;color: #ffffff; font-size: 36px;margin-top: 5px;">Documentation</p>
												<p style="display: inline;color: #ffffff;font-size: 36px;margin-top: 5px;">Center</p>
											</p>
											<!-- <p class="docCenter" style="color:white"><code class="docCenterLogo"style="color:#C61C2C">Documentation Center</code><br/>Documentation. Now.
                    </p> -->
										</div>
									</div>
								</div>
								<div class="container">
									<div class="Forward">
										<h2 class="banner">Search Results</h2>
										<!--Search Results generated should start here-->
										<div id="results">
											<template is="auto-binding" id="main">
												<template if="{{empty}}">
													<div class="no-results">
		                        Search results not found
	                        </div>
												</template>
												<template repeat="{{store as s}}" >
													<template if="{{s != undefined}}">
														<div id="{{s.id}}">
															<h4 class="doc-title-search">{{s.name}}</h4>
															<template repeat="{{s.results as r}}">
																<template if="{{r.display}}">
																	<div>
																		<a href="{{s.url}}{{r.link}}">
																		
																		
																		
																			<p class="article-link">{{r.html}}</p>
																		</a>
																		<p class="short-desc">
			                                {{r.desc}}
		                              	</p>
																	</div>
																</template>
															</template>
															<div on-click="{{clickHandler}}">
																<div class="{{s.sign.icon}}">
																	<span class="glyphicon glyphicon-{{s.sign.type}}"></span>
																</div>
															</div>
														</div>
													</template>
												</template>
											</template>
											<!--<div style="display:none"><div class="expand-icon"><span class="glyphicon glyphicon-plus"></span></div></div><div><div class="collapse-icon"><span class="glyphicon glyphicon-minus"></span></div><div>--></div>
										<!--end Results-->
									</div>
									<!--end Forward-->
								</div>
								<!--Container-->
                <script>
                  document.querySelector("#search").value = localStorage.getItem("input");
                  var main = document.querySelector("#main");
                  // iframes is in js/globals.js
                  main.store = iframes.map(function(x) {
                      return JSON.parse(localStorage.getItem(x.id));
                  });
                  main.empty = main.store.map(function(x) {
                      return !x;
                  }).reduce(function(x, y) {
                      return x && y;
                  });
                  main.store.map(function(x) {
                      if (x) {
                          // if (x.id == 'tenup' || x.id == "odbc" || x.id == "tendo") {
                          //     x.url = "https://www.1010data.com/" + x.url + "index.html";
                          // } else {
                          //     x.url = x.url + "index_frames.html";
                          // }
                          //x.url = x.url + "index.html";
                          if (x.results.map(function(y) {
                                  return true && y.display;
                              }).reduce(function(x, y) {
                                  return x && y;
                              })) {
                              x.sign = {
                                  icon: "co",
                                  type: "minus"
                              };
                          } else {
                              x.sign = {
                                  icon: "ex",
                                  type: "plus"
                              };;
                          }
                      }
                  });
                  main.clickHandler = function(event, detail, sender) {
                      r = main.store.filter(function(x) {
                          if (x) {
                              return x.id == sender.parentElement.id;
                          } else return false;
                      })[0];
                      r.results.map(function(x, i) {
                          if (i > 4) {
                              if (x.display)
                                  x.display = false;
                              else
                                  x.display = true;
                          }
                      });
                      if (r.sign == "-") {
                          r.sign = {
                              icon: "ex",
                              type: "plus"
                          };
                      } else {
                          r.sign = {
                              icon: "co",
                              type: "minus"
                          };
                      }
                  }
                </script>
            <script src="jQuery-2.0.3.js"></script>
						<!-- Include all compiled plugins (below), or include individual files as needed -->
						<script src="bootstrap.min.js"></script>
						<script src="js/globals.js"></script>
						<script src="js/docSearch.js"></script>
						<script src="js/commons.js"></script>
						<!-- Deploy generates the following indexes JS files-->
						
						<script src="js/ref.js"></script>
						<script src="js/user.js"></script>
						<script src="js/userv10.js"></script>
            <script src="js/trsgsg.js"></script>
						<script src="js/cookbook.js"></script>
						<script src="js/glossary.js"></script>
						<script src="js/addin.js"></script>
						<script src="js/ploader.js"></script>
						<script src="js/xml.js"></script>
						<script src="js/python_sdk.js"></script>
						<script src="js/java_sdk.js"></script>
						<script src="js/dotnet_sdk.js"></script>
						<script src="js/tableau.js"></script>
						<script src="js/explorer.js"></script>
						<script src="js/odbc.js"></script>
						<script src="js/basicretail.js"></script>
						<script src="js/g_fun_tut.js"></script>
						<script src="js/yoyanalysis.js"></script>
						<script src="js/ucl.js"></script>
						<script src="js/qa_intro.js"></script>
						<script src="js/embedded_qa.js"></script>
						<script src="js/modeling_tut.js"></script>
						<script src="js/excelreport.js"></script>
						<script src="js/dates.js"></script>
						<script src="js/block_ref.js"></script>
						<script src="js/orchestrator.js"></script>
						<script src="js/talend.js"></script>
						<script src="js/datablazer.js"></script>
						<script src="js/dynamicapi.js"></script>
						<script src="js/pythonlanguage.js"></script>
						<script src="js/rlanguage.js"></script>
						<script src="js/tableauconnector.js"></script>
						<script src="js/powerbiconnector.js"></script>
						
					</body>
				</html>
